body {
    font-family: arial;
    font-size: 15px;
    line-height: 1.6cm;
    background: #d6a4a4;
}

li {
    list-style: none;
}

/* class container set to certain width and be responsive */
.container {
    width: 90%;
    margin: 20px auto;
    overflow: auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

header {
    background: #0a0a0a;
    color: #ffffff;
    padding: 5px 10px;
    overflow: auto;
    font-size: 16px;
}

footer {
    background: #050508;
    color: #ffffff;
    padding: 5px 10px;
    overflow: auto;

}